.decorLayer {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.decor1 {
  position: absolute;
  width: 44.16vw;
  height: 54.88vw;
  left: -22.54vw;
  top: 32.92vw;
  opacity: 1;
}

.decor2 {
  position: absolute;
  width: 95.84vw;
  height: 92.54vw;
  left: 20.62vw;
  top: -7.61vw;
  transform: rotate(3.48deg);
  opacity: 1;
}

.mDecor3 {
  position: absolute;
  width: 256.6px;
  height: 254.54px;
  left: 129.17px;
  top: 79.96px;
  opacity: 1;
}

.mDecor1a {
  position: absolute;
  width: 633.68px;
  height: 790.36px;
  left: -165.38px;
  top: 325.72px;
  transform: rotate(-3.78deg);
  opacity: 1;
}

.mDecor4 {
  position: absolute;
  width: 355.03px;
  height: 279.28px;
  left: -36.4px;
  top: 986.37px;
  opacity: 1;
}

.mDecor1b {
  position: absolute;
  width: 633.68px;
  height: 790.36px;
  left: -165.38px;
  top: 1784px;
  transform: rotate(-3.78deg);
  opacity: 1;
}

.mobileOnly {
  display: none;
}

@media (max-width: 899px) {
  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}
